.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

body
  padding 0

.header,
.marketing,
.footer
  padding-left 15px
  padding-right 15px

.header
  border-bottom 1px solid #e5e5e5
  margin-bottom 10px
  margin-bottom 30px
  h3
    margin-top 0
    margin-bottom 0
    line-height 40px
    padding-bottom 19px

.footer
  padding-top 19px
  color #777
  border-top 1px solid #e5e5e5

.container-narrow
  & > hr
    margin 30px 0

.jumbotron
  text-align center
  border-bottom 1px solid #e5e5e5
  border-bottom 0
  .btn
    font-size 21px
    padding 14px 24px

.marketing
  margin 40px 0
  p
    & + h4
      margin-top 28px

.header,
  .marketing,
  .footer
  padding-left 0
  padding-right 0

.drop-box
  background #F8F8F8
  border 5px dashed #DDD
  width 100%
  height auto
  text-align center
  padding 25px 0

.dragover
  border 5px dashed blue

