<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create item</h4>
</div>
<div class="modal-body">
    <ul class="alert alert-danger" ng-if="errors.length">
        <li ng-repeat="error in errors">{{error}}</li>
    </ul>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-sm-4 col-xs-4" ng-show="isUndefined(current_item.img_url)">
                <img fallback-src="/images/yeoman.png" ng-src="{{current_item.img_url}}" alt="" class="img-responsive" />
                <br />
                <div class="btn btn-info form-control" ngf-select ng-model="img" accept="image/*" ng-controller="UploadCtrl">Select File</div>
                <!-- <button class="btn form-control">Загрузить</button> -->
            </div>
            <div class="col-lg-5 col-sm-4 col-xs-4" ng-hide="isUndefined(current_item.img_url)">
                <div ng-controller="UploadCtrl">
                    Drop File:
                    <div ngf-drop ngf-select ng-model="img" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true" accept="image/*">Drop images here or click to upload</div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                </div>
            </div>
            <div class="col-lg-7 col-sm-8 col-xs-8">
                <form name="item">
                    <label for="title">Product title</label>
                    <br>
                    <input type="text" name="title" class="input-xlarge form-control" ng-model="current_item.title">
                    <br>
                    <label for="description">Product description</label>
                    <br>
                    <textarea name="description" class="input-xlarge form-control" ng-model="current_item.description"></textarea>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="save()">Save changes</button>
</div>
