<button class="btn" ng-click="create()">Create</button>

<ul class="media-list container-fluid">
    <li class="media row" ng-repeat="item in items" ng-model="item">
        <span class="col-lg-4 col-sm-4 col-xs-4" href="#">
            <img class="media-object img-responsive" ng-src="{{ item.img_url || '/images/yeoman.png' }}" ng-src="{{item.img_url}}" fallback-src="/images/yeoman.png" alt="Generic placeholder image">
        </span>
        <div class="col-lg-8 col-sm-8 col-xs-8">
            <div class="media-body">
                <h4 class="media-heading">{{item.title | cut:true:100:' ...'}}</h4>
                <a href="#" class="glyphicon glyphicon-pencil" ng-click="edit(item)" data-toggle="modal" data-target="#create_modal"></a>
                <a href="#" class="glyphicon glyphicon-remove" ng-click="delete(item)"></a>
                <p>{{item.description | cut:true:600:' ...'}}</p>
            </div>
        </div>
    </li>
</ul>
